<div class="perant"  >
    <a style="margin: 0 10px;" data-bs-toggle="tooltip" data-bs-placement="right" title="Cut (ctrl + X)" [ngClass]="{'disabled': !isRegion}" ><i class="bi bi-scissors" (click)="cutPart()" ></i></a>
    <a style="margin: 0 10px;" data-bs-toggle="tooltip" data-bs-placement="right" title="Copy (ctrl + C)" [ngClass]="{'disabled': !isRegion}"><i class="bi bi-copy" ></i></a>
    <a style="margin: 0 10px;" data-bs-toggle="tooltip" data-bs-placement="right" title="Paste (ctrl + V)" [ngClass]="{'disabled': !isRegion}"><i class="bi bi-clipboard2-check" ></i></a>
    <a style="margin: 0 10px;" data-bs-toggle="tooltip" data-bs-placement="right" title="Delete (ctrl + D)" [ngClass]="{'disabled': !isRegion}"><i class="bi bi-trash"></i></a>
    </div>
    <audio id="audio"></audio>
    