<div #con id="parent" (mousedown)="getPosition($event)" (mousemove)="startResize($event)" (mouseup)="stopResize($event)">


    <div class="region" id="region"
  
    >
    <span  (mousedown)="getPosition2($event)"></span>
    <span  (mousedown)="getPosition1($event)"></span>
  </div>
  <div id="wave">
    <div id="waveform"  (mousedown)="getPosition($event)" (wheel)="zoom($event)">
  
  
    </div>
  </div>
  
  </div>
  <div class="zoom">
    <div style="padding: 10px;">
      <i class="bi bi-zoom-out"></i>
    </div>
    <div style="padding: 10px;">
    <i class="bi bi-zoom-in" (click)="zoomIn()" [ngClass]="{'disabled': waveformWidth>=10000}"></i>
  </div>
  <div style="padding: 10px;" >
    <i class="bi bi-zoom" (click)="zoomOut()" [ngClass]="{'disabled': waveformWidth>=840}"></i>
    <i class="bi bi-arrow-right-short"></i>
    <i class="bi bi-arrow-left-short"></i>
  </div>
  </div>
  <audio id="audio"></audio>
  
  
  